<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    <bean id="PizzaDelivery"
          class="com.agency04.sbss.pizza.PizzaDeliveryService">
    </bean>
    <bean id="PizzeriaBest"
          class="com.agency04.sbss.pizza.BestPizzaPizzeriaService">
        <property name="name" value="Best Pizza"></property>
        <property name="address" value="Unska 3"></property>
    </bean>
    <bean id="PizzeriaItaliana"
          class="com.agency04.sbss.pizza.ItalianaPizzeriaService">
        <property name="name" value="${name.pizzeria}"></property>
        <property name="address" value="${address.pizzeria}"></property>
    </bean>
    <!-- define the dependency -->

    <context:property-placeholder location="classpath:application.properties"/>

</beans>





